@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
  /* font-family: 'Audiowide', cursive; */
}

body{
  overflow-x: hidden;
}

#__next{
  overflow-x: hidden;

}

.mainCont{
  max-width: 1400px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.heading{
  background: linear-gradient(180deg, #FFFFFF 0%, #8A8A8B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-bg{
  background: linear-gradient(180deg, #101113 0%, rgba(16, 17, 19, 0) 29.52%, rgba(16, 17, 19, 0.21) 49.46%, rgba(16, 17, 19, 0.76) 71.79%, #101113 100%);
}

.gradient-bg2{
  background: linear-gradient(180deg, #101113 0%, rgba(16, 17, 19, 0.72) 50%, #101113 100%);
}

.card-gradient{
  background: radial-gradient(32.95% 80.34% at 2.01% 0%, #64676C 0%, #18191C 100%);
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px; 
}

::-webkit-scrollbar-track {
  background-color: #101113;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c2c0c0; 

}